<app-navbar (selectionChange)="selection = $event" [userData]="userData"></app-navbar>
@if(selection=='FA'){

<app-attendancehome></app-attendancehome>
}
@if(selection=='shift'){
<app-manageshift></app-manageshift>

}
@if(selection=='logs'){
<app-actionlogs></app-actionlogs>
}
@if(selection=='role'){
<app-role-list></app-role-list>`
}
@if(selection=='employees'){
<app-manage-employees></app-manage-employees>
}
@if(selection=='store'){
<app-storemaster>></app-storemaster>
}
@if(selection=='rdu'){
<app-dashboard-and-app-users></app-dashboard-and-app-users>
}
@if(selection=='cp'){
<app-editmodal [action]="action" (closeModal)="closeModal()"></app-editmodal>
}