<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a (click)="orderClick('Home')" class="navbar-item">
            <h3 class="attendo-brand">ATTENDO</h3>
        </a>

        <a role="button" class="navbar-burger" [class.is-active]="isMobileMenuOpen" (click)="toggleMobileMenu()"
            aria-label="menu" [attr.aria-expanded]="isMobileMenuOpen">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [class.is-active]="isMobileMenuOpen">
        <div class="navbar-end">

            <a (click)="orderClick('FA')" class="navbar-item">
                Fetch Attendance
            </a>

            @if(role == "1" || role == "2" || role == "3" || role == "7") {
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Manage</a>

                <div class="navbar-dropdown">
                    <a (click)="orderClick('shift')" class="navbar-item">
                        Shift
                    </a>


                    <a (click)="orderClick('employees')" class="navbar-item">
                        Employees
                    </a>
                    @if(role != "7") {
                    <a (click)="orderClick('rdu')" class="navbar-item">
                        Register Dashboard User
                    </a>
                    }

                    @if(role == "1") {
                    <a (click)="orderClick('role')" class="navbar-item">
                        Role
                    </a>
                    <a (click)="orderClick('store')" class="navbar-item">
                        Store
                    </a>
                    }
                </div>
            </div>
            }

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Options</a>
                <div class="navbar-dropdown">
                    <a (click)="orderClick('cp')" class="navbar-item">
                        Change Password
                    </a>
                </div>
            </div>

            @if(role == "1" || role == "2" || role == "3") {
            <a (click)="orderClick('logs')" class="navbar-item">
                See Logs
            </a>
            }

            <div class="navbar-item">
                <div class="buttons">
                    <a (click)="logout()" class="button is-danger">
                        Log Out
                    </a>
                </div>
            </div>

        </div>
    </div>
</nav>