<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <h3 class="navbar-item attendo-brand">ATTENDO</h3>

        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        <div class="navbar-end">



            <a (click)="orderClick('FA')" class="navbar-item">
                Fetch Attendance
            </a>

            <!-- <a class="navbar-item disabled">
                Generate Roater
            </a> -->

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Manage
                </a>

                <div class="navbar-dropdown">
                    <a (click)="orderClick('employees')" class="navbar-item">
                        Employees
                    </a>
                    <a (click)="orderClick('shift')" class="navbar-item">
                        Shift
                    </a>
                    <a (click)="orderClick('rdu')" class="navbar-item">
                        Register Dashboard User
                    </a>
                    @if(role=="1"){
                    <a (click)="orderClick('role')" class="navbar-item">
                        Role
                    </a>
                    }

                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">

                    <a (click)="logout()" class="button is-danger">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>